# Copy this file to .env on the Raspberry Pi and edit the values.

# IP address of the laptop running Django.
# Django must run with: python manage.py runserver 0.0.0.0:8000
KITUNGA_API_BASE_URL=http://10.20.20.174:8000

KITUNGA_DEVICE_ID=KITUNGA-PI-001
KITUNGA_BASKET_CODE=SB-001

KITUNGA_CAMERA_INDEX=0
KITUNGA_CONFIDENCE_THRESHOLD=0.75
KITUNGA_COOLDOWN_SECONDS=4
KITUNGA_SCAN_INTERVAL_SECONDS=2
KITUNGA_API_TIMEOUT_SECONDS=5

KITUNGA_MODEL_PATH=./models/best.pt
KITUNGA_CAPTURES_DIR=./captures
KITUNGA_LOGS_DIR=./logs
KITUNGA_BASKET_CODE_FILE=./state/basket_code.txt
